

		.header{ 
		    display: flex;
			background-color: #cfe2ff;
			height: 73px;
			transition: 0,5s;
		 }

		.logo{
    position: relative;
    top: 0px;
    left: 0px;
    width: 186px;
    height: 70px;

		}
		.hijo1{
	
	font-family: 'Poppins', sans-serif;
    width: 108px;
    float: left;
    list-style: none;
    top: 10px;
    display: block;
    text-align: center;
    LINE-HEIGHT: 55px;
    text-decoration: none;

		}
		.hijoa:hover{
			position: relative;
			background-color:#ce0000 ;
			color: black;
			height: 50px;
			top: 0px;
			z-index: 0px;
			border-radius: 100px;
			text-decoration: none;
			transition: background-color, 2s;
		}
				.hijob:hover{
			position: relative;
			background-color:#ce0000 ;
			color: black;
			height: 50px;
			top: 0px;
			z-index: 0px;
			border-radius: 100px;
			text-decoration: none;
			transition: background-color, 2s;
		}
				.hijoc:hover{
			position: relative;
			background-color:#ce0000 ;
			color: black;
			height: 50px;
			top: 0px;
			z-index: 0px;
			border-radius: 100px;
			text-decoration: none;
			transition: background-color, 2s;
		}
		.audifonos{
			color: black;
			text-decoration: none;
		}

		.buscador{
	position: absolute;
    top: 19px;
    left: 57px;
    width: 235px;
    height: 39px;
     border: inset;
    background: border-box;
    color: white;
}
.boton{
    position: absolute;
	top: 12px;
    left: 273px;
    height: 49px;
    width: 50px;
    background-color: #20c997;
    border-radius: 10px;
}
.header2{
	font-family: 'Poppins', sans-serif;
	background-color: #ce0000;
}
.primero{
	position: relative;
}
.celulares{
	    position: relative;
    color: #fff;
    font-weight: 700;
    text-align-last: center;
}
.header3{
	height: 440px;
}
.cr7{
	    position: absolute;
    width: 148px;
    top: 35px;
    left: 35px;
    border-radius: 87px;

}
.cr7:hover{
	border-radius: 0px;
	top: 0px;
	width: 200px;
	transition: width 2s;
}
.noticia1{
	position: absolute;
    top: 282px;
    text-align: center;
    font-family: system-ui;
}

.redes1{
	position: relative;
	    top: 122px;
    left: 80px;
}
.redes2{
	position: relative;
	top: 192px;
    left: 21px;
}
.header4{
	font-family: 'Poppins', sans-serif;
	background-color: #ce0000;
}
.segundo{
	position: relative;
}
.copaamerica{
		    position: relative;
    color: #fff;
    font-weight: 700;
    text-align-last: center;
}
.header,.header2,.header4{
	position: sticky;
	top: 0px;
	 z-index: 10000;
} 

